body {
   font-family: sans-serif;
}

#wrapper {
  width: 80%;
  margin: 10px auto;
}

input {
  border: 2px solid #ddd;
}

.inline {
  margin-left: 20px;
}

.timestamp {
   color: grey;
}

.message {
   border-bottom: 2px dashed #ddd;
   padding-bottom: 2px;
   margin-top: 3px;
}

.collabse-toggle {
    margin-left: 20px;
    padding: 0px 7px;
    background: green;
    color: white;
}

.depth-0 {
    font-weight: bold;
}

.depth-1 {
    font-weight: normal;
}

.collabse-toggle {
   background:url('css/ui-lightness/images/ui-icons_222222_256x240.png');
   background-position: -32px -16px;
   float:left;
   max-width: 16px;
   height: 16px;
   margin-left: -24px;
}

.collabsed-toggle {
    background-position: -64px -16px
}

.collabse-toggle-highlight {
   background:url('css/ui-lightness/images/ui-icons_228ef1_256x240.png');
   background-position: -64px -16px
}


.highlight {
    font-weight: light;
    border-left: 1px solid grey;
    padding-left: 7px;
    font-size: small;
}
